@charset "utf-8";

$clr-theme-1: $clr-green-800;
$clr-theme-2: $clr-green-300;
$clr-theme-3: $clr-green-50;
$clr-theme-4: $clr-green-100;
$clr-theme-5: $clr-green-200;
$clr-theme-6: $clr-green-400;
$clr-theme-7: $clr-green-500;
$clr-theme-8: $clr-green-600;
$clr-theme-9: $clr-green-700;
$clr-theme-10: $clr-green-900;
$clr-theme-11: $clr-green-a100;
$clr-theme-12: $clr-green-a200;
$clr-theme-13: $clr-green-a400;
$clr-theme-14: $clr-green-a700;
